*{
    margin: 0;
    padding: 0;
}
h2{
    margin: 5px;
}
.container{
    display: flex;
}
.home , .headphones{
    border: 8px solid rgb(213, 213, 213);
    padding: 10px;
    width: 50%;
}
.home>div,.headphones>div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.home>div div,.headphones>div div{
    width: 48%;
    margin-bottom: 20px;
}
img{
    width: 95%; 
}
a{
    color: darkgreen;
    text-decoration: none;
}
