#product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.product {
    padding: 20px;
    border: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 10px;
}

.high-price {
    border: 2px solid yellow;
}

.low-price {
    border: 2px solid green;
}

.product-title {
    font-weight: bold;
    margin-bottom: 5px;
}

.product-price {
  color:#666;
}