.container{
    height:97vh;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    background-color: antiquewhite;
}
.container div{
    border: 2px solid black;
    padding: 20px;
}
