#b1{
    background-color: rgb(113, 113, 249);
    margin: 10px;
    padding: 20px;
    border: 2px solid black;
    box-sizing: content-box;
    width: 200px;
    height: 100px;
 }
  #b2{
     background-color: rgb(113, 249, 154);
    margin: 30px;
    padding: 20px;
    border: 2px solid black;
    box-sizing: border-box;
    width: 200px;
    height: 100px;;
 }
 #b3{
     background-color: rgb(249, 247, 113);
    margin: 20px;
    padding: 20px;
    border: 2px solid black;
    width: 200px;
    height: 100px;
 }
